[flake8]
select = BLK,C,E,F,W # black(BLK), pyflakes(F), pycodestyle(WE), mccabe(C), import-order (I)
max-complexity = 10
max-line-length = 120
ignore = E501,W503
import-order-style = google
docstring-convention = google
